<?xml version="1.0" encoding="UTF-8"?>
<!-- @author Danny Felipe @date: 08/11/2016 às 02:06
	Arquivo beans usado pelo CDI -->

<beans xmlns="http://java.sun.com/xml/ns/javaee" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
			       http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">
</beans>